<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CM-Clinic Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" id="navDashBoard" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="navPatient" href="#" routerLink="/patient">Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" id="navReports">Reports</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#" id="navBilling">Billing</a>
        </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="txtGlobalSearch" >
          <button class="btn btn-outline-success" type="submit" id="btnGlobalSearch" >Search</button>
          &nbsp;&nbsp;
          <i class="bi bi-person-fill"></i>
        </form>
      </div>
    </div>
  </nav>
