<div class="container">
<fieldset  class="rounded" style="border:0.5px solid lightblue;padding: 40px;">
<form  class="form was-validated" novalidate>
    <div class="row">
    <div class="col" style="align-items: center;align-items:center;">
        <h3>Welcome to Relief Dental Clinic</h3>
    </div>
</div>
<div class="row">
    <div class="col-3"><label for="txtUsername">Username</label></div>
    <div class="col-5"><input type="text" id="txtUsername" name="txtUsername" class="form-control" placeholder="enter email address"  minlength="3" maxlength="50" [(ngModel)]="user.Username" required/> </div>
</div>
<br />
<div class="row">
    <div class="col-3"><label for="txtPassword">Password</label></div>
    <div class="col-5"><input type="password"  id="txtPassword" name="txtPassword" class="form-control"  minlength="3" maxlength="50" [(ngModel)]="user.Password" required/> </div>
</div>
<br />
<div class="row">
    <div class="col-4"><button id="btnSubmit" name="btnSubmit" type="submit" class="btn btn-primary" (click)="Login()">Submit</button></div>
    <div class="col-2"></div>
    <div class="col-4"><button id="btnReset" name="btnReset" type="reset" class="btn btn-secondary" (click)="Reset()">Reset</button> </div>
</div>
<br>
<div *ngIf="user.IsAuthError" class="row">
    <div class="col">
        <label style="color: red;" id="lblAuthMessage">
            Unauthorized: Either Username or password is not correct 
        </label> <br>
        <a href="#">Forgot Password</a>
    </div>
</div>
</form>
</fieldset>
</div>
<br />
