<div class="container-fluid">
    <br />
    <div class="rounded p-3 p-md-4" style="border:0.5px solid lightblue;">
    <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th colspan="4" class="text-end">
                            <button type="button" class="btn btn-primary btn-sm"
                            data-bs-toggle="modal" data-bs-target="#addAppointmentModal">
                                Add Row
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-nowrap">Date</th>
                        <th class="text-nowrap">Time</th>
                        <th class="text-nowrap">Doctor</th>
                        <th class="text-nowrap">Procedure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments">
                        <td class="text-nowrap">{{appointment.ApptDate}}</td>
                        <td class="text-nowrap">{{appointment.ApptTime}}</td>
                        <td>{{appointment.DoctorName}}</td>
                        <td>{{appointment.TreatmentName}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <br />
  <div class="rounded p-3 p-md-4" style="border:0.5px solid lightblue;">
    <div class="row">
      <div class="col">
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</div>